ShapeNetRender/*
__pycache__/*
*/__pycache__/*
.vscode/*
output/*
exp/*
*.ipynb
*.zip
*.png
*.pcd
*.obj
*.npy
temp*.py
stdout.txt
.gitignore
*.json
logs/*
Pointnet2_PyTorch/*
Pointnet2_PyTorch
extensions/chamfer_dist/*/*
Models/*